body{
   font-size: 13px;
}

.jumbotron {
    margin:0 ;
}

#steps{
    width:270px;
}

.navbar {
    margin-left:auto;
    }

.pencil{
    font-size: 2em;
}

#annotate a::before{
    color: transparent;
    overflow: hidden;
    max-height: 40px;
    width: 16px;
  }

.navbar>a, .nav-item>a{
    color:white;
}

.footer-img {
    object-fit: contain;
    /* height: 70px; */
    margin:0;
    width: 1215px;
}

#img-wrapper{
    height: 200px;
}

.score-title{
    display: inline-block;
}

.score-line{
    overflow:hidden;
}

ul{
    padding-inline-start: 0;
}