body{
   font-size: 13px;
   font-family: 'Ropa Sans', sans-serif;
   min-height: 100%;
   padding-right:0px;
   background-color: #17A2B8;
}

.jumbotron {
    margin:0 ;
    font-family: 'Ropa Sans', sans-serif;
}

.spacer{
    display:inline-block;
    width:30px;
    height:50px;
}

.note{
    display:inline-block;
    font-size:0.6em;
    color: black;
}

#colorSwatches{
    background-color: white;
}

h3{
    margin-bottom:0;
    padding-bottom:0;
    font-size:3em;
}

pre{
    font-family: 'Ropa Sans', sans-serif;
    text-shadow: 2px 2px 2px rgb(32, 32, 32);
    font-size:1.2em;
    display:inline-block;
    margin-bottom: 0;
}

#steps{
    width:270px;
    font-size:1em;
    font-family: 'Ropa Sans', sans-serif;
}

.feature{
    display:inline-block;
}

.jumbotron p{
    font-size:1.4em; 
}

.jumbotron i{
    color: black;
    font-size:1.4em; 
}

.jumbotron {
min-height: 80%;
}

.footer{
    background-color: black;
    height:50px;
}

.navbar {
    margin-left:auto;
}

.plus {
    font-size: 3.5em;
    padding: 0;
    border: 0px solid #17A2B8;
}

.pencil{
    font-size: 2em;
}

.linkIMSLP{
    float:right;
    font-size: 2em;
    text-decoration: none;
}

#login-with-facebook{
    width:100%
}

#spinner{
    font-size: 4em;
    text-align:center;
    margin-left:0;
    position: fixed;
    top: 50%;
    right: 50%;
}

.round-btn.focus, .round-btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.round-btn{
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
}

.navbar>a, .nav-item>a{
    color:white;
}

.footer-img {
    object-fit: contain;
    /* height: 70px; */
    margin:0;
    width: 100%;
}

#img-wrapper{
    height: 20%;
}

.score-title{
    display: inline-block;
}

.score-line{
    overflow:hidden;
}

ul{
    padding-inline-start: 0;
}

.img-responsive{
    object-fit: cover;
    width: 100%;
}

.facebook-button {
    background: #4464a2;
    color: white;
    font-size: 1.2em;
}

.facebook-button:hover {
    color: white;
    font-size: 1.2em;
}

.social-account-button {
    padding-left: 20px;
    text-align: left;
}

.button-fullwidth {
    display: block;
    width: 100%;
    padding:10px;
    text-align: center;
    margin: 20px 0;
}

.clearfix{
	overflow: auto;
}	
.ng-isolate-scope{
    display: inline-block;
   }

input{
    margin-right:10px;
}

input.fileUpload{
	display: none;
}

#can {
    position: absolute;
    top: 85px;
    left: 0px;
  }
  
.colors {
    /* border: 1px solid black; */
    display: inline-flex;
  }
  
.swatch {
    min-width: 1.4em;
    min-height: 1.4em;
    max-width: 1.4em;
    border: 1px solid black;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
  
  }
  
#canvasRuller{
    min-height: 2em; 
  }

#saveBtn{
      margin-top:2px;
      display:inline-flex;
      max-height:1.4em;
      font-size: 1.2em;
      padding:0.1em ;
      position:absolute;
      right:50%;
  }

.highlight {
    border: 1px solid red;
  }

#preview1{
      display:block;
  }

/* 	calendar */
#calendar {
      max-width: 900px;
      margin: 0 auto;
     }
  		
#wrap {
		width: 1100px;
		margin: 0 auto;
		}
		
	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		text-align: left;
		}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}
		
	.external-event { /* try to mimick the look of a real event */
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		}
		
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}

	#calendar {
/* 		float: right; */
        margin: 0 auto;
		width: 900px;
		background-color: #FFFFFF;
		  border-radius: 6px;
        box-shadow: 0 1px 2px #C3C3C3;
		-webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
		}