<navbar-scores></navbar-scores>
<div class="bg-info mt-2">
    <h3 class="display-8 text-center text-light p-2">My Digital Repertoire</h3>
    <nav class="navbar bg-info mx-auto">
        <form class="form-inline col-6 text-center mx-auto">
            <div class="form-inline col-2 bg-info"></div>
            <input class="form-control mx-md-2" type="search" placeholder="Search" size="40" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div>
        <ul ng-class="container" class="px-5" id="Score_library">
            <!-- <div class="list-group search-results">
                <a href="#" class="list-group-item list-group-item-action" ng-repeat="result in searchResults" ng-click="addActor(result)">{{result.name}}</a>
            </div> -->
            <!-- <div class="row bg-light rounded ml-4 mr-4 mt-2" ng-class="text-left" ng-click="addScore(result)" ng-repeat="result in scoreLibrary"> -->
            <li class="score-line row bg-light text-info rounded ml-4 mr-4 mt-2" ng-class="text-left">
                <div class="card-body col-1 mx-0 float-left" style="padding:2px">
                    <img class="img-thumbnail" style="width:75px; padding:2px" src="https://3.bp.blogspot.com/-1P0FtVZCOF0/USzj22PTjkI/AAAAAAAADU8/mt2I27M52S8/s1600/Adele+-+Someone+Like+You+(Karaoteca+com)+-+Flute_0001.jpg"
                        style="width:100px" alt="Score preview">
                </div>
                <div class="score-title card-body col-7 float-right">
                    <h6 class="card-title font-weight-bold mt-1">Concerto no 1</h6>
                    <p class="card-text">Composer: <span class="font-weight-bold">Max Bruch</span></p>
                </div>
                <div class="col-3 float-right text-info my-auto text-right">
                    <a href="#"><i class="pencil text-info fas fa-pencil-alt"></i></a>
                </div>
            </li>
        </ul>
        <br>
    </div>
</div>
<!-- {{result.preview}} {{result.title}}{{result.composer}} -->